<template name="profile">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="col-sm-8">
            <h1>{{friend.profile.firstname}} {{friend.profile.lastname}}</h1>
            <h4>Compliments Sent: {{sent}}</h4>
          </div>
          <div class="col-sm-4">
            {{> time}}
          </div>
        </div>
        <table class="table table-striped">
          <tbody>
            {{#each words}}
              {{#if received}}
                <tr>
                  <td>{{value}}</td>
                  <td class="text-right">{{received}}%</td>
                </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
