$white:       #FFFBF2;
$black:       #303633;
$primary:     #0DD5B2;
$secondary:   #874AA5;
$tertiary:    #EA526F;
$quaternary:  #EDD755;

$font-primary:    'Open Sans Condensed', sans-serif;
$font-secondary:  'Knewave', sans-serif;
