<template name="compliment">
  {{#unless showSending}}
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h1>{{friend.profile.firstname}} {{friend.profile.lastname}} is...</h1>
          <div class="form-group">
            <select name="word" id="word" class="form-control">
              <option value="">Select Compliment</option>
              {{#each words}}
                <option value="{{_id}}">{{value}}</option>
              {{/each}}
            </select>
          </div>
          {{#if selected}}
            <button class="btn btn-primary btn-block">Send Compliment</button>
          {{/if}}
        </div>
      </div>
    </div>
  {{else}}
    {{> sending}}
  {{/unless}}
</template>
