.words {
  h4.addWord {
    cursor: pointer;
    color: $tertiary;
    display: inline-block;
    &:hover,
    &:active {
      color: $quaternary;
    }
  }
  td.text-right {
    width: 40px;
    cursor: pointer;
    .glyphicon-ok {
      color: $tertiary;
      &:hover,
      &:active {
        color: $quaternary;
      }
    }
    .glyphicon-remove {
      color: $secondary;
      &:hover,
      &:active {
        color: $tertiary;
      }
    }
  }
}
