.words {
  h4.addWord {
    cursor: pointer;
    display: inline-block;
    &:hover,
    &:active {
      color: $secondary;
    }
  }
  tr {
    cursor: pointer;
    &:hover,
    &:active {
      color: $secondary;
    }
    .text-right {
      width: 40px;
    }
    .glyphicon-remove {
      &:hover,
      &:active {
        color: $tertiary;
      }
    }
  }
}
